![A soccer pitch for an international match.](soccer-pitch.jpg)

You're working as a sports journalist at a major online sports media company, specializing in soccer analysis and reporting. You've been watching both men's and women's international soccer matches for a number of years, and your gut instinct tells you that more goals are scored in women's international football matches than men's. This would make an interesting investigative article that your subscribers are bound to love, but you'll need to perform a valid statistical hypothesis test to be sure!

While scoping this project, you acknowledge that the sport has changed a lot over the years, and performances likely vary a lot depending on the tournament, so you decide to limit the data used in the analysis to only official `FIFA World Cup` matches (not including qualifiers) since `2002-01-01`.

You create two datasets containing the results of every official men's and women's international football match since the 19th century, which you scraped from a reliable online source. This data is stored in two CSV files: `women_results.csv` and `men_results.csv`.

The question you are trying to determine the answer to is:

> Are more goals scored in women's international soccer matches than men's?

You assume a **10% significance level**, and use the following null and alternative hypotheses:

$H_0$ : The mean number of goals scored in women's international soccer matches is the same as men's.

$H_A$ : The mean number of goals scored in women's international soccer matches is greater than men's.

In [51]:
# Start your code here!
import pandas as pd
import matplotlib.pyplot as plt
import pingouin
from scipy.stats import mannwhitneyu
women = pd.read_csv("women_results.csv")
men = pd.read_csv("men_results.csv") #convert to readable dataframe from csv for both
print(men.info())
print(women.info()) #find out the column names for each dataframe and datetype
women["date"] = pd.to_datetime(women["date"])
men["date"] = pd.to_datetime(men["date"])#convert time for both men and women to datetime format since date is listed as object
women_sub = women[(women["date"] > "2002-01-01") & (women["tournament"].isin(["FIFA World Cup"]))]
men_sub = men[(men["date"] > "2002-01-01") & (men["tournament"].isin(["FIFA World Cup"]))] #filter datae for both subsets so that we see data for tournaments that occurred in the FIFA world cup and after the date of 2002-01-01
women_sub['total_goals']= women_sub['home_score']+women_sub['away_score']
men_sub['total_goals']= men_sub['home_score']+men_sub['away_score'] #created new column that gave us the total goals of each match
men_sub["group"] = "men"
women_sub["group"] = "women" #since we want to combine these two subsets together, we created a group in each subset that seperates the matches by men and women once combined
print(women_sub)
print(men_sub)
men_and_women = pd.concat([women_sub, men_sub], axis=0, ignore_index=True) #used .concat to combine the two subsets into one
print(men_and_women)
men_and_women_sub= men_and_women[['total_goals', 'group']] #we only want total goals and group as we want to find out if average goals is higher, lower, or same depending on group men or women
print(men_and_women_sub)
men_and_women_wide = men_and_women_sub.pivot(columns= 'group', values='total_goals') #since the data is independent and unpaired, we will use wmw test. need to pivot data before we can do so. 
print(mean_and_women_wide)
wmw_test = pingouin.mwu(x=men_and_women_wide['women'], y=men_and_women_wide['men'], alternative='greater')
print(wmw_test) #p value is less than the 0.1 significance level we created, heence we reject the null hypothesis
result_dict = {'p_val': 0.005107, "result": "reject"}
print(result_dict)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44353 entries, 0 to 44352
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  44353 non-null  int64
 1   date        44353 non-null  object
 2   home_team   44353 non-null  object
 3   away_team   44353 non-null  object
 4   home_score  44353 non-null  int64
 5   away_score  44353 non-null  int64
 6   tournament  44353 non-null  object
dtypes: int64(3), object(4)
memory usage: 2.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4884 entries, 0 to 4883
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4884 non-null   int64
 1   date        4884 non-null   object
 2   home_team   4884 non-null   object
 3   away_team   4884 non-null   object
 4   home_score  4884 non-null   int64
 5   away_score  4884 non-null   int64
 6   tournament  4884 non-null   object
dtypes: int64(3), object(4)
memory usage: 267.2+ KB
None
      Unnamed: 0       date      home_team  ...      tournament  total_goals  group
1600        1600 2003-09-20        Nigeria  ...  FIFA World Cup            3  women
1601        1601 2003-09-20         Norway  ...  FIFA World Cup            2  women
1602        1602 2003-09-20        Germany  ...  FIFA World Cup            5  women
1603        1603 2003-09-20          Japan  ...  FIFA World Cup            6  women
1604        1604 2003-09-21  United States  ...  FIFA World Cup            4  women
...          ...        ...            ...  ...             ...          ...    ...
4465        4465 2019-06-29        Germany  ...  FIFA World Cup            3  women
4466        4466 2019-07-02        England  ...  FIFA World Cup            3  women
4467        4467 2019-07-03    Netherlands  ...  FIFA World Cup            1  women
4468        4468 2019-07-06        England  ...  FIFA World Cup            3  women
4469        4469 2019-07-07  United States  ...  FIFA World Cup            2  women

[200 rows x 9 columns]
       Unnamed: 0       date  ... total_goals group
25164       25164 2002-05-31  ...           1   men
25165       25165 2002-06-01  ...           8   men
25166       25166 2002-06-01  ...           2   men
25167       25167 2002-06-01  ...           3   men
25168       25168 2002-06-02  ...           1   men
...           ...        ...  ...         ...   ...
44343       44343 2022-12-10  ...           3   men
44345       44345 2022-12-13  ...           3   men
44346       44346 2022-12-14  ...           2   men
44350       44350 2022-12-17  ...           3   men
44352       44352 2022-12-18  ...           6   men

[384 rows x 9 columns]
     Unnamed: 0       date      home_team  ...      tournament  total_goals  group
0          1600 2003-09-20        Nigeria  ...  FIFA World Cup            3  women
1          1601 2003-09-20         Norway  ...  FIFA World Cup            2  women
2          1602 2003-09-20        Germany  ...  FIFA World Cup            5  women
3          1603 2003-09-20          Japan  ...  FIFA World Cup            6  women
4          1604 2003-09-21  United States  ...  FIFA World Cup            4  women
..          ...        ...            ...  ...             ...          ...    ...
579       44343 2022-12-10        England  ...  FIFA World Cup            3    men
580       44345 2022-12-13      Argentina  ...  FIFA World Cup            3    men
581       44346 2022-12-14         France  ...  FIFA World Cup            2    men
582       44350 2022-12-17        Croatia  ...  FIFA World Cup            3    men
583       44352 2022-12-18      Argentina  ...  FIFA World Cup            6    men

[584 rows x 9 columns]
     total_goals  group
0              3  women
1              2  women
2              5  women
3              6  women
4              4  women
..           ...    ...
579            3    men
580            3    men
581            2    men
582            3    men
583            6    men

[584 rows x 2 columns]
group  men  women
0      NaN    3.0
1      NaN    2.0
2      NaN    5.0
3      NaN    6.0
4      NaN    4.0
..     ...    ...
579    3.0    NaN
580    3.0    NaN
581    2.0    NaN
582    3.0    NaN
583    6.0    NaN

[584 rows x 2 columns]
       U-val alternative     p-val       RBC      CLES
MWU  43273.0     greater  0.005107 -0.126901  0.563451
{'p_val': 0.005107, 'result': 'reject'}